.navbar{
    grid-area: n;
    background: #c59828;
}
ul{
    display: flex;
    flex-direction: column;
}
li{
    list-style: none;
}
a{
    color: white;
    text-decoration-line: none;
}
.active{
    color: grey;
}