.messages{
    display: grid;
    grid-template-areas: 'c d';
    grid-auto-columns: 300px 1fr;
    gap: 10px;
    background: rgba(229, 199, 159, 0.99);
}
.correspondents{
    grid-area: c;
    display: flex;
    flex-direction: column;
    background: #97c251;
}
.dialogs{
    grid-area: d;
    display: flex;
    flex-direction: column;
    background: #fafa72;
}

